# Set your own values and rename this
# file to .env


# Set database variables
DB_HOST="db"
DB_PORT=3306
DB_USER="root"
DB_PASS="root"  # TODO: Autoregenerate this value
DB_DATADIR="/var/lib/mysql"
DB_LOCAL_DATADIR="/var/lib/phabricator/mysql"  # Path in the host system


# Configuration variables
CONTAINER_PREFIX="phabricator"
CONTAINER_PHABRICATOR_NAME="server"
CONTAINER_DB_NAME="db"
EXTERNAL_HTTP_PORT=80


# Phabricator config
BASE_URI="http://tests.localhost"
PHABRICATOR_REPODIR="/var/repo"
PHABRICATOR_LOCAL_REPODIR="/var/lib/phabricator/repo"  # Path in the host system
PHABRICATOR_LOCALDISK_PATH="/var/disk"
PHABRICATOR_LOCAL_LOCALDISK_PATH="/var/lib/phabricator/disk"  # Path in the host system
# MAILGUN_DOMAIN=""
# MAIGUN_API_KEY=""
